:root
{
    --c-blue1: rgba(0, 23, 153, 1);
    --c-yellow1: rgba(255, 181, 52, 1);
    --c-yellow2: rgb(222, 158, 47);
    --c-white1: rgba(255, 254, 254, 1);
    --c-gray1: rgba(241, 241, 241, 1);
    --c-gray2: rgb(211, 211, 211);
    --c-cian1: rgba(192, 197, 230, 1);

    --c-lavender1: #6466A8;
    --c-pink2: #F1DDD9;
    --c-red2: #E6C2BF;
    --c-purple3: #9266CC;
    --c-violet3: #8E44AD;
    --c-neutral: #080A45;
}

*
{
    margin: 0;
    padding: 0;    
}

body
{    
    font-family: 'Poppins';
    background-color: var(--c-gray1);
}
header
{   
    height: 14vh;   
    background-color: var(--c-blue1);        
    & .nav-bar
    {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);                        
        
        & .logo-container
        {   
            display: flex;
            align-items: center;                                
            grid-column: 1 / 3;      
            & a
            {
                margin-top: 10px;
                margin-left: 10px;                
                & img
                {                   
                    height: 50px;
                    width: 50px;
                }
            }
        }   
        & .search-bar-container
        {   
            display: flex;
            align-items: center;
            width: 31vw;
            padding: 0.9vw;
            grid-column: 3 / 5;
            & .search-bar
            {                                          
                border-radius: 5px;
                border-style: unset;                
                outline: none;
                height: 6vh;
                width: 31vw;                                                
            }
        }
        & .sales-container
        {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: 10 / 12;
            & .sale-link-container
            {
                & a 
                {
                    text-decoration: none;
                    color: white;
                }
            }
        }
        & .shopping-cart-container
        {
            display: flex;
            align-items: center;            
            grid-column: 12 / 13;
            & .shopping-cart-icon-container
            {
                display: flex;
                justify-content: center;
                align-items: center;                
                & i {
                    color: white;
                    transition: 0.25s;

                    &:hover
                    {
                        color: var(--c-neutral);                        
                    }
                }   
                & .amount-icon
                {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    height: 20px;
                    width: 20px;
                    background-color: red;
                    border-radius: 50px;
                    color: white;                    
                    position: absolute;
                    top: 15px;
                    right: 45px;
                }                          
            }
        }
    }
}
main
{    
    & .sales-section
    {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, auto);
        & .sale-list-container
        {
            grid-column: 3 / 11;            
            
            & .sale-container
            {                
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                background-color: var(--c-white1);
                width: 100%;
                margin: 20px;
                padding: 20px;
                & p
                {
                    font-size: 1.3rem;
                }
                & .sale-total-container
                {
                    display: flex;
                    justify-content: space-around;
                    margin: 5px;
                }
                & .sale-product-quantity-container
                {
                    display: flex;
                    justify-content: space-around;
                    margin: 5px;
                }
                & .sale-date-container
                {
                    display: flex;
                    justify-content: space-around;
                    margin: 5px;
                }
                & .details-button-container
                {
                    display: flex;
                    justify-content: center;
                    margin: 5px;
                    & button
                    {
                        border: none;
                        border-radius: 10px;                    
                        height: 7vh;
                        padding: 0px 2px;
                        background-color: var(--c-yellow1);
                        cursor: pointer;

                        &:hover
                        {
                            background-color: var(--c-yellow2);
                        }
                        &:active
                        {
                            background-color: var(--c-blue1);
                            color: white;
                        }
                    }
                }
            }            
        }
        & .search-box
        {
            display: none;
            border-radius: 10px;            
            height: 35vh;
            grid-column: 5 / 9;
            margin-top: 15vh;
            padding: 3vh;
            width: 100%;
            background-color: var(--c-white1);
            & .search-header
            {
                display: flex;
                justify-content: center;                           
                font-size: 30px;
                box-shadow: 0px 0.5px 0.5px var(--c-cian1);
            }
            & .search-content
            {
                display: flex;
                justify-content: space-between;
                & .date-container
                {                    
                    display: flex;
                    flex-direction: column;
                    margin: 30px;                    
                }
            }
            & .search-bottom
            {
                display: flex;
                justify-content: center;
                & button
                {
                    border: none;
                    border-radius: 10px;
                    padding: 10px;
                    background-color: var(--c-yellow1);
                    &:hover
                    {
                        background-color: var(--c-yellow2);
                        box-shadow: 0px 0px 5px var(--c-cian1);
                    }
                    &:active
                    {
                        background-color: var(--c-blue1);
                        color: white;
                    }
                }
                
            }     

        }
        & .search-box-active
        {
            display: block;
        }        
    }
}