.item-section-container
{
    position: relative;
    overflow: hidden;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    
    border-radius: 10px;
    padding: 2vw; 
    margin: 8vh 2vw;
    width: 92vw;
    height: 65vh; 
    background-color: var(--c-white1);  
        
    grid-column: 1 / 13;
}

.item-section-container > .item-section-content
{
    display: flex;
    transition: transform 0.5s ease;

    column-gap: 2vw;        
    width: 92vw;
    height: 65vh;    
}

.carousel-control {
    position: absolute;
    top: 150%;    
    transform: translateY(-50%);
    background-color: var(--c-yellow1);
    border: none;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    z-index: 1;
}
.carousel-control:active
{
    background-color: var(--c-blue1);
    color: var(--c-white1);
}

.carousel-control.prev {
    left: 10px;
}
  
.carousel-control.next {
    right: 10px;
}

& .item-card
            {
                flex: 0 0 calc((92vw - 8vw) / 5);
                display: flex;
                flex-direction: column;                
                border-radius: 10px;
                height: 65vh;
                width: 18vw;
                border: 0.25px solid var(--c-cian1);
                overflow: hidden;
                cursor: pointer;
                z-index: 1;
            
                transition: 0.25s;    
                & .image-container
                {
                    display: flex;
                    flex-direction: column;                      
                    & img 
                    {            
                        height: 40vh;
                        width: auto; 
                        border-top-left-radius: 10px;   
                        border-top-right-radius: 10px;
                    }
                }
                & .content-result-container
                {
                    display: flex;
                    flex-direction: column;
                    background-color: var(--c-white1);
                    height: 30vh;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    & .name-container
                    {                    
                        width: 14vw;
                        height: 5vh;
                        padding: 20px;
                        text-overflow: ellipsis;            
                    }
                    & .price-and-cart-container
                    {
                        display: flex;
                        justify-content: space-between;
                        & .price-container
                        {
                            padding-left: 20px;
                            padding-top: 10px;
                            & p 
                            {                
                                font-size: 1.3rem;
                            }   
                            & .price-without-discount
                            {
                                color: rgba(0, 0, 0, .55);
                                font-size: 0.9rem;
                                text-decoration: line-through;
                            }
                            & .price-with-discount-container
                            {
                                display: flex;
                                align-items: center;
                                & .percentage-off
                                {
                                    margin-left: 10px;
                                    color: rgb(6, 184, 6);
                                    font-size: 0.8rem;
                                }
                            }
                        }
                        & .shopping-cart-icon-container
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 2.5px;
                            margin-right: 15px;
                            border-radius: 50px;
                            width: 44px;
                            height: 44px;
                            background-color: var(--c-yellow1);  
                            border: none;
                            cursor: pointer;
                            z-index: 2;
                            & i 
                            {
                                color: white;
                                transition: 0.25s;                              
                            }
                            &:hover
                            {
                                background-color: var(--c-yellow2);
                                & i
                                {
                                    color: var(--c-neutral);                                
                                }
                            }
                            &:active
                            {
                                background-color: var(--c-blue1);                            
                                & i
                                {                                
                                    color: var(--c-white1);
                                }
                            }
                        }            
                    }
                }
                &:hover{
                    box-shadow: 0px 2px 5px var(--c-cian1);
                }
            }

main
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);    
    & .product-container
    {
        display: flex;
        background-color: var(--c-white1);
        border-radius: 10px; 
        margin: 8vh 2vw;
        grid-column: 1 / 13;        
        & .image-container
        {
            grid-column: 1 / 6;
            margin: 2vh 5vw;
            & img
            {
                border-radius: 10px;
                height: 70vh;
            }
        }
        & .product-detail-container
        {
            display: flex;
            flex-direction: column;                       
            margin: 2vh 0px;
            width: 45vw;
            height: 65vh;
            overflow-y: scroll;        
            & .product-detail-container-header
            {
                display: flex;
                justify-content: center;
            }
            & .product-detail-container-content
            {                
                margin-top: 1vh;
            }
        }
        & .price-section-container
        {
            display: flex;
            flex-direction: column; 
            justify-content: space-between;
            margin: 2vh 2vw;
            border-radius: 10px;                                    
            box-shadow: 0px 0px 2.5px var(--c-cian1);
            width: 22vw;
            height: 40vh;    
            & .price-section-header
            {
                display: flex;
                justify-content: center;
                margin-top: 10px;
                margin-bottom: 10px;                
                & h4
                {
                    margin: 0px 25px;
                }
            }
            & .price-section-content
            {
                margin-left: 25px;
                & p
                {
                    font-size: 1.3rem;
                }
                & .price-without-discount
                {
                    color: rgba(0, 0, 0, .55);
                    font-size: 0.9rem;
                    text-decoration: line-through;
                }
                & .price-with-discount-container
                {
                    display: flex;
                    align-items: center;
                    & .percentage-off
                    {
                        margin-left: 10px;
                        color: rgb(6, 184, 6);
                        font-size: 0.8rem;
                    }
                }
            }            
            & .price-section-bottom
            {                   
                & .cart-btn-container
                {
                    height: 9vh;
                    margin: 15px 25px;
                    & .cart-btn
                    {
                        border-radius: 50px;                    
                        height: 7vh;
                        width: 100%;                    
                        background-color: var(--c-yellow1);
                        border: none;
                        cursor: pointer;
    
                        &:hover
                        {
                            background-color: var(--c-yellow2);
                        }
                        &:active
                        {
                            background-color: var(--c-blue1);
                            color: white;
                        }                        
                    }
                }
            }
        }
    }        
    & .modal
    {   
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        & .modal-content
        {
            border-radius: 10px;
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50vw; /* Could be more or less, depending on screen size */
            & .shopping-cart-link-container
            {
                display: flex;
                justify-content: center;
                
                & a
                {
                    border-radius: 10px;
                    padding: 10px;
                    background-color: var(--c-yellow1);
                    text-decoration: none;
                }
            }
        }
    }
}
