.item-row
{
    display: grid;
    grid-template-columns: (12,1fr);
    & .total-pay-value
    {
        & .total-pay-value
                    {
                        display: flex;
                        align-items: center;
                        grid-column: 1 / 5;
                    }
                    & .quantity-value
                    {
                        display: flex;
                        align-items: center;
                        grid-column: 5 / 10;
                    }
                    & .date-value
                    {
                        display: flex;
                        align-items: center;
                        grid-column: 10 / 13;
                    }
    }
}


main
{    
    height: 60vh;
    & .sales-section
    {
        display: grid;
        height: 100%;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(4, auto);
        & .no-sales
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-column: 3 / 11;
            background-color: white;
            border-radius: 10px;
            margin-top: 10vh;
            padding: 45px;
            & p
            {
                font-size: 1.4rem;
                margin-bottom: 5vh;
            }
            & button
                {
                    margin: 5px;
                    border: none;
                    border-radius: 50px;                    
                    height: 5vh;        
                    padding: 10px;                
                    background-color: var(--c-yellow1);
                    cursor: pointer;
                    width: 15vw;
                    &:hover
                    {
                        background-color: var(--c-yellow2);
                    }
                    &:active
                    {
                        background-color: var(--c-blue1);
                        color: white;
                    }
                }
        }
        & .title
        {
            display: flex;
            justify-content: center;
            margin-top: 2vh;
            grid-column: 1 / 13;
        }
        & .sale-list-container
        {            
            display: none;
            grid-column: 1 / 12;            
            & .sale-container
            {                                                                             
                border-radius: 10px;
                background-color: var(--c-white1);
                width: 100%;
                margin: 2vh 5vh;
                padding: 20px;
                display: grid;
                grid-template-columns: repeat(12, 105px);
                & .item
                {
                    grid-column: 1 / 2;
                }
                & .date
                {
                    grid-column: 2 / 5;
                }  
                & .quantity
                {
                    grid-column: 5 / 8;
                }
                
                & .total-pay
                {
                    grid-column: 8 / 13;
                }
                & .sale-content-container
                {
                    grid-column: 1 / 14;
                    display: grid;
                    grid-template-columns: repeat(12, 105px);
                    & .item-value
                    {
                        display: flex;
                        align-items: center;
                        grid-column: 1 / 2;
                        box-shadow: 0px 0.5px 0px var(--c-cian1);
                        width: 100%;
                    }
                    & .date-value
                    {
                        display: flex;
                        align-items: center;
                        grid-column: 2 / 5;
                        box-shadow: 0px 0.5px 0px var(--c-cian1);
                        width: 100%;
                    }
                    
                    & .quantity-value
                    {
                        display: flex;
                        align-items: center;
                        grid-column: 5 / 8;
                        box-shadow: 0px 0.5px 0px var(--c-cian1);
                        width: 100%;
                    }
                    & .total-pay-value
                    {
                        display: flex;
                        align-items: center;
                        grid-column: 8 / 11;                        
                        box-shadow: 0px 0.5px 0px var(--c-cian1);
                        width: 100%;
                    }
                    & .details-button-container
                    {
                    grid-column: 11 / 13;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    box-shadow: 0px 0.5px 0px var(--c-cian1);
                        & button
                        {
                            margin: 5px;
                            border: none;
                            border-radius: 50px;                    
                            height: 5vh;        
                            padding: 10px;                
                            background-color: var(--c-yellow1);
                            cursor: pointer;

                            &:hover
                            {
                                background-color: var(--c-yellow2);
                            }
                            &:active
                            {
                                background-color: var(--c-blue1);
                                color: white;
                            }
                        }
                    }
                } 
                & .pagination-container
                {
                    display: grid;
                    grid-template-columns: repeat(12, 105px);
                    & .pagination-counter
                    {
                        margin-top: 2vh;
                        grid-column: 1 / 2;
                    }
                    & .previous-btn
                    {
                        grid-column: 11 / 12;
                    }                    
                    & .next-btn
                    {
                        grid-column: 12 / 13;
                    }
                    & button
                        {
                            margin-top: 2vh;
                            margin-left: 1vw;
                            margin-right: 1vw;                            
                            border: none;
                            border-radius: 50px;                    
                            height: 5vh;        
                            padding: 10px;                
                            background-color: var(--c-yellow1);
                            cursor: pointer;
                            &:hover
                            {
                                background-color: var(--c-yellow2);
                            }
                            &:active
                            {
                                background-color: var(--c-blue1);
                                color: white;
                            }
                        }
                }
            }            
        }
        & .search-box
        {
            display: none;
            border-radius: 10px;            
            height: 35vh;
            grid-column: 5 / 9;
            margin-top: 15vh;
            padding: 3vh;
            width: 100%;
            background-color: var(--c-white1);
            & .search-header
            {
                display: flex;
                justify-content: center;                           
                font-size: 30px;
                box-shadow: 0px 0.5px 0.5px var(--c-cian1);
            }
            & .search-content
            {
                display: flex;
                justify-content: space-between;
                & .date-container
                {                    
                    display: flex;
                    flex-direction: column;
                    margin: 30px;                    
                }
            }
            & .search-bottom
            {
                display: flex;
                justify-content: center;
                & button
                {
                    border: none;
                    border-radius: 50px;
                    padding: 10px;
                    background-color: var(--c-yellow1);
                    &:hover
                    {
                        background-color: var(--c-yellow2);
                        box-shadow: 0px 0px 5px var(--c-cian1);
                    }
                    &:active
                    {
                        background-color: var(--c-blue1);
                        color: white;
                    }
                }
                
            }     

        }
        & .search-box-active
        {
            display: block;
        }        
    }
}

footer
{
    margin-top: 15vh;
}