main 
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    & .sale-detail-container
    {
        border-radius: 10px;
        margin: 5vh;
        padding: 10px;
        grid-column: 2 / 12;
        background-color: var(--c-white1);
        & .sale-detail-header
        {        
            display: grid;
            grid-template-columns: repeat(6, 1fr);  
            padding: 10px;
        }
        & .sale-detail-content
        {
            display: flex;           
            flex-direction: column;
            padding: 10px;            
            & .item-row-content
            {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                box-shadow: 0px 0.5px 0.5px var(--c-cian1);
                & p
                {
                    margin: 1px;
                }
            }                    
        }
        & .sale-detail-bottom
        {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            padding: 10px;
            & .item-row-bottom
            {                
                grid-column: 5 / 7;
                & p
                {
                    margin: 2px;
                }
            }
        }
    }
}