main 
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);    
    & .sale-detail-container
    {
        border-radius: 10px;
        margin: 5vh;
        padding: 10px;
        grid-column: 1 / 13;
        background-color: var(--c-white1);
        & .sale-detail-header
        {        
            display: grid;
            grid-template-columns: repeat(12, 135px);  
            padding: 10px;
            column-gap: 12px;
            & p
            {
                font-size: 1.4rem;
            }
            & .product-item
                {                    
                    grid-column: 1 / 2;
                }
                & .product-name
                {
                    grid-column: 2 / 6;
                }
                & .product-quantity
                {
                    grid-column: 6 / 7;
                }
                & .product-price
                {
                    grid-column: 7 / 9;    
                }
                & .product-discount
                {
                    grid-column: 9 / 10;
                }
                & .product-price-discounted
                {
                    grid-column: 10 / 12;
                }            
                & .product-subtotal
                {
                    grid-column: 12 / 13;
                }
        }
        & .sale-detail-content
        {
            display: flex;           
            flex-direction: column;
            padding: 10px;            
            & .item-row-content
            {
                display: grid;
                grid-template-columns: repeat(12, 135px);
                box-shadow: 0px 0.5px 0.5px var(--c-cian1);
                margin-top: 1vh;
                column-gap: 12px;
                & p
                {
                    font-size: 1.4rem;
                }
                .truncated {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 500px; 
                    display: inline-block;
                    vertical-align: middle;
                    cursor: pointer;
                    &:hover
                    {                                                 
                        overflow: visible;
                    }
                }
                & .product-item
                {                    
                    grid-column: 1 / 2;
                }
                & .product-name
                {
                    grid-column: 2 / 6;
                }
                & .product-quantity
                {
                    grid-column: 6 / 7;
                }
                & .product-price
                {
                    grid-column: 7 / 9;    
                }
                & .product-discount
                {
                    grid-column: 9 / 10;
                }
                & .product-price-discounted
                {
                    grid-column: 10 / 12;
                }            
                & .product-subtotal
                {
                    grid-column: 12 / 13;
                }
                                
            }                    
        }
        & .sale-detail-bottom
        {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            padding: 10px;
            & .row-name
            {
                margin-top: 1vh;
                grid-column: 1 / 12;
                width: 100%;
                box-shadow: 0px 0.5px 0.5px var(--c-cian1);
            }            
            & .value
            {
                margin-top: 1vh;
                grid-column: 12 / 13;
                width: 100%;
                box-shadow: 0px 0.5px 0.5px var(--c-cian1);
            }
            & p
                {
                    font-size: 1.4rem;
                }
                    
        }
    }
}
#loading-spinner
{
    margin-left: 30vw;
}
footer
{
    margin-top: 15vh;
}