main
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, auto);
    padding-bottom: 10vh;
    & .filter-section
    {
        display: flex;
        flex-direction: column;
            
        grid-row: 2 / 5;
        grid-column: 1 / 3;
        & .filter-container
        {
            border-radius: 10px;
            margin-top: 5vh;
            margin-left: 0.7vw;
            margin-right: 0.7vw;
            border: 0.25px solid rgb(191, 191, 191);                        
            & .filter-container-header
            {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 8vh;
            }
            & .filter-buttons
            {
                & .filter-button-container
                {                    
                    margin: 15px 10px;
                    & .filter-button
                    {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50px;                        
                        width: 13vw;
                        height: 7vh;
                        border: 0.25px solid rgb(191, 191, 191);
                        cursor: pointer;
                        transition: 0.25s;                        
                        & .circle-button
                        {
                            border-radius: 50px;
                            border: 0.25px solid rgb(191, 191, 191);
                            margin-right: 5px;                            
                            width: 10px;
                            height: 10px;
                            transition: 0.25s;                            
                        }                     
                        & .active
                        {
                            background-color: var(--c-yellow1);
                        }
                        & .category-name-container
                        {
                            width: 10vw;
                        }
                        &:hover
                        {
                            background-color: var(--c-gray2);                            
                        }
                        &:active
                        {
                            background-color: var(--c-blue1); 
                            color: var(--c-white1);                            
                        }
                    }
                    & .active
                    {
                        color: var(--c-white1); 
                        background-color: var(--c-blue1);
                    }
                }
            }
        }
    }    
    & .item-section-container
    {        
        grid-row: 2 / 5;
        grid-column: 3 / 13;        
        & .item-section-content
        {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, auto);
            column-gap: 1vw;
            row-gap: 5vh;
            padding: 5vh;    
    
            background-color: var(--c-gray1);                    
            & .item-card
            {
                display: flex;
                flex-direction: column;
                border-radius: 10px;
                height: 65vh;
                width: 18vw;
                border: 0.25px solid var(--c-cian1);
                overflow: hidden;
                cursor: pointer;
                z-index: 1;
            
                transition: 0.25s;    
                & .image-container
                {
                    display: flex;
                    flex-direction: column;                      
                    & img 
                    {            
                        height: 40vh;
                        width: auto; 
                        border-top-left-radius: 10px;   
                        border-top-right-radius: 10px;
                    }
                }
                & .content-result-container
                {
                    display: flex;
                    flex-direction: column;
                    background-color: var(--c-white1);
                    height: 30vh;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    & .name-container
                    {                    
                        width: 14vw;
                        height: 5vh;
                        padding: 20px;
                        text-overflow: ellipsis;            
                    }
                    & .price-and-cart-container
                    {
                        display: flex;
                        justify-content: space-between;
                        & .price-container
                        {
                            padding-left: 20px;
                            padding-top: 10px;
                            & p 
                            {                
                                font-size: 1.3rem;
                            }   
                            & .price-without-discount
                            {
                                color: rgba(0, 0, 0, .55);
                                font-size: 0.9rem;
                                text-decoration: line-through;
                            }
                            & .price-with-discount-container
                            {
                                display: flex;
                                align-items: center;
                                & .percentage-off
                                {
                                    margin-left: 10px;
                                    color: rgb(6, 184, 6);
                                    font-size: 0.8rem;
                                }
                            }
                        }
                        & .shopping-cart-icon-container
                        {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 2.5px;
                            margin-right: 15px;
                            border-radius: 50px;
                            width: 44px;
                            height: 44px;
                            background-color: var(--c-yellow1);  
                            border: none;
                            cursor: pointer;
                            z-index: 2;
                            & i 
                            {
                                color: white;
                                transition: 0.25s;                              
                            }
                            &:hover
                            {
                                background-color: var(--c-yellow2);
                                & i
                                {
                                    color: var(--c-neutral);                                
                                }
                            }
                            &:active
                            {
                                background-color: var(--c-blue1);                            
                                & i
                                {                                
                                    color: var(--c-white1);
                                }
                            }
                        }            
                    }
                }
                &:hover{
                    box-shadow: 0px 2px 5px var(--c-cian1);
                }
            }
            & .pagination-container
            {
                & button
                {
                    border: none;
                    margin: 20px;
                }
            }
        }        
    }    
}

.pagination-container
{
    display: flex;
    justify-content: center;
}
.page-toggle
    {    
        border: none;    
        border-radius: 10px;                    
        height: 7vh;      
        margin: 5px;    
        padding: 10px; 
        background-color: var(--c-yellow1);
        cursor: pointer;
        
        &:hover
        {
        background-color: var(--c-yellow2);
        }
        &:active
        {
        background-color: var(--c-blue1);
        color: white;
        } 
    }

